# 强制扁平化（解决 Windows 兼容性）
node-linker=hoisted
# symlink=false

# 【关键】强制把依赖包存在当前项目下的 .pnpm-store 文件夹里
# 这样它绝对不可能跑到 D 盘根目录去
store-dir=./.pnpm-store

# 解决二进制文件查找问题
public-hoist-pattern[]=*esbuild*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*